a {
    color: inherit !important;
    text-decoration: none !important;
}

img {
    width: 350px !important;
    margin-left: auto;
    margin-right: auto;
}


.card {
    border: 0px !important;
}

.bg-dark {
    background-color: #000000 !important;
}